<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

    <title>Game Start Page</title>
</head>

<body style="background-color:#fbcbc9;">

    <div class="container-fluid">

      <!-- <form method="get" action="/gameStart2/beginGame">
        <button type="submit" id="is_game_started" ></button>
      </form>
      <button onclick="window.location.href='/guess.html'" id="start_game">Continue</button> -->

        <!-- <button type="hidden" id="start_game" href="guess.html" value="<%= userId %>" ></button> -->

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <p></p>

            <h3 class="text-center" style="font-family: 'Bevan';font-size: 80px;color: #731b2a;">
                Game Code:
            </h3>

            <!-- <button class="button-2" id="dispCode" style="font-family: 'Bevan';"></button> -->
            <h3 class="gameCode" id="dispCode" style="font-family: Bevan;"><%= gameCode %></h3>

            <p style="font-family: pacifico;font-size: 30px;color: #be1558;text-align: center;">Share this code to play draw chat with your friends!</p>

          </div>

          <div class="col-md-2"></div>
      </div>



      <form method="get" action="/gameStart2/refresh">


      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <button class="button-2" type="submit" name="userid" value="<%= userId %>" style="font-family: 'Pacifico';">See Players</button>
          <p></p>

        </div>


        <div class="col-md-4"></div>
      </div>


      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

          <% if (users) { %>
            <table class="userTable" style="font-family: Pacifico;">
          <%  var num = 1;
              var list = ''; %>

          <%    users.forEach(function(item){
                if(num%2 != 0){
                  list += '<tr> <th>' + item.username + '</th>';
                }
                else{
                  list += '<th>' + item.username + '</th></tr>';
                }
                num+=1;
              });  %>
          <%  if(num%2==0){
                list+='</tr>';
              } %>

              <%- list %>
            </table>



          <% } %>

          </div>

          <div class="col-md-2"></div>
      </div>

            </form>


            <div class="row">
              <div class="col-md-4"></div>
  
              <div class="col-md-4">
                  <p></p>
                  <form method="post" action="/gameStart2/beginGame"> 
                    <input type="hidden" name="GameCode" value="<%= gameCode %>" > 
                    <input type="hidden" name="userid" value="<%= userId %>" > 
                  <button class="button-start" role="button" style="font-family: 'Bevan';">Start Game</a></button>
                  </form>
                  <p></p>
              </div>
  
              <div class="col-md-4"></div>
  
          </div>


    </div>


    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="../../resources/js/myJS.js"></script>
</body>

</html>
